<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729849873791-u5k7v2b9799ip5qfeh4pphtv7a7j4uor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729849873791-u5k7v2b9799ip5qfeh4pphtv7a7j4uor</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729849873791-pt7fgc26gsmu56gt19htbrsr2nic6psl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwLhmNb4Vq3n9G7_rLDF0Q2Mu7RSu2QNM</string>
	<key>GCM_SENDER_ID</key>
	<string>729849873791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trikegoApp</string>
	<key>PROJECT_ID</key>
	<string>trikego-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>trikego-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729849873791:ios:357ca2f826e96f408f864a</string>
</dict>
</plist>